.pseudo-three-col:after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 33.4%;
    width: 41.66666667%;
    height: 100%;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffffff;
}

.add-playlist-white-bg {
    background-color: #ffffff;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 #add-playlist > div {
     padding:15px;
 }



#tvapp_edit_playlist .dropped{
    margin-left: 15px;
}