/*main {*/
    /*margin-top: -245px;*/
    /*padding-top: 245px;*/
    /*height: 100%;*/
/*}*/

.section-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    line-height: 100px;
    font-weight: bolder;
    font-size: 40px;
    color: white;
}

.section-overlay-hidden {
    visibility: hidden;
 }
.title-name {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    font-size: 30px;
    color: #34495e;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(50, 137, 199, 0.52);
    height: 62px;
}
.title-name .fa, .rightTitle .fa {
    margin-right: 5px;
    float: left;
    margin-top: 7px;
}
.hr-2 {
    display: block; height: 0;
    border: 0; border-top: 1px solid #949494;border-bottom: 1px solid #e2e2e2;
}

.hr-2-2 {
    display: block; height: 0;
    border: 0; border-top: 1px solid #bfbfbf;border-bottom: 1px solid #b7b7b7;
}

.text-center {
    text-align: center;
}

.plus {
    position: absolute;
    right: 1%;
    top: 12px;
}

#videos {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin-top: 8px;
}

.description-block {
    background-color: #ecf0f1;
    padding: 0 5px;
}

.description-image {
    border-radius: 10px;
    width: 63%;
}
.section-overlay .wait_text{
    position: absolute;
    font-size: 20px;
    right: 65px;
    top: 20%;
}

/* The loader container */
.loader {
    position: absolute;
    top: 50%;
    left: 78%;
    width: 140px;
    height: 140px;
    margin-top: -80px;
    margin-left: -100px;
}


/* The dot */
.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;

    width: 140px;
    height: 90px;

    margin-top: -50px;
    margin-left: -80px;

    border-radius: 5px;

    background-color: #1e3f57;

    transform-type: preserve-3d;

    animation: dot1 3s cubic-bezier(.55,.3,.24,.99) infinite;
}

.dot:nth-child(2) {
    z-index: 11;

    width: 140px;
    height: 90px;

    margin-top: -45px;
    margin-left: -75px;

    border-radius: 3px;

    background-color: #3c617d;

    animation-name: dot2;
}

.dot:nth-child(3) {
    z-index: 12;

    width: 40px;
    height: 20px;

    margin-top: 50px;
    margin-left: -20px;

    border-radius: 0 0 5px 5px;

    background-color: #6bb2cd;

    animation-name: dot3;
}
#status_page{
    height:600px;
}
.div_for_on_air_part.homeNavbar a{
    text-decoration: none;
    color: red;
}
.div_for_on_air_part.homeNavbar{
    width:40%;
}
.homeNavbar h1 {
    float: left;
    margin-right: 15px;
}
@keyframes dot1 {
    3%, 97% {
        width: 140px;
        height: 90px;

        margin-top: -50px;
        margin-left: -65px;
    }
    30%, 36% {
        width: 80px;
        height: 110px;

        margin-top: -60px;
        margin-left: -40px;
    }
    63%, 69% {
        width: 40px;
        height: 80px;

        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2 {
    3%, 97% {
        width: 130px;
        height: 80px;
        margin-top: -45px;
        margin-left: -60px;
    }
    30%, 36% {
        width: 70px;
        height: 80px;

        margin-top: -48px;
        margin-left: -35px;
    }
    63%, 69% {
        width: 32px;
        height: 60px;

        margin-top: -30px;
        margin-left: -16px;
    }
}

@keyframes dot3 {
    3%, 97% {
        width: 40px;
        height: 20px;

        margin-top: 41px;
        margin-left: -10px;
    }
    30%, 36% {
        width: 8px;
        height: 8px;

        margin-top: 40px;
        margin-left: -5px;

        border-radius: 8px;
    }
    63%, 69% {
        width: 16px;
        height: 4px;

        margin-top: -37px;
        margin-left: -8px;

        border-radius: 10px;
    }
}
/* Media Queries */
@media only screen and (max-width: 1280px) {
    .div_for_on_air_part.homeNavbar {
        width: 45%;
    }
    #horizontal_menu .slimmenu .has-submenu .menu-list{
        padding:12px 24px 10px 12px;
    }
}
@media only screen and (max-width: 1140px) {
    .div_for_on_air_part.homeNavbar {
        width: 50%;
    }
}
@media only screen and (max-width: 1020px) {
    .div_for_on_air_part.homeNavbar {
        width: 56%;
    }
}
@media only screen and (max-width: 920px) {
    .div_for_on_air_part.homeNavbar {
        width: 62%;
    }
}