/*@import "~react-select/scss/default";

$blue_border: rgba(50, 137, 199, 0.52);
$blue: #3289c7;
$light-yellow: #FFF4B5;

#TopShelf img {
  width: 100% !important;
  height: 300px !important;
}

#LowShelf img {
  width: 100% !important;
  height: 100px !important;
}

@import "blocks/playlist-treeview";*/