<div class="jumbotron">
        <div class="container">
        <div class="navbar-header">
         <ul class="nav navbar-nav navbar-center" >
             <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='#/amazons3'">Amazon S3</button></li>
             <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='#/upload'">Upload</button></li>
             <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='#/transcode'">Transcode</button></li>
             <li><button type="button" class="btn btn-default navbar-btn" >Queue</button></li>
             <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='#/selftest'">Self Test</button></li>
             <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='#/login'">Logout</button></li>
        </ul>
        </div> 
      </div>
</div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                <a href="http://23.19.10.42:8080/LoginManager/services/LoginManager?_wadl"> Login Manager API's </a> </br>
                <a href="http://23.19.10.42:8080/AmazonS3Manager/services/AmazonS3Manager?_wadl"> Amazon S3 Manager API's </a> </br>
                <a href="http://23.19.10.42:8080/TranscodeManager/services/TranscodeManager?_wadl"> Transcode Manager API's </a> </br>
                <a href="http://23.19.10.42:8080/UploadFTPManager/services/UploadFTPManager?_wadl"> FTP Manager API's </a> </br>
            <h4> The Self Test operates on Login/AmazonS3/Transcode/FTP API's and executes JOBS of Transcoding </h4>
    </div>
   </div>
   </div>
