<div class="jumbotron">
        <div class="container">
        <div class="navbar-header">
         <ul class="nav navbar-nav navbar-center" >
              <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='#/amazons3'">Amazon S3</button></li>
             <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='#/upload'">Upload</button></li>
             <li><button type="button" class="btn btn-primary active navbar-btn" onclick="location.href='#/transcode'">Transcode</button></li>
             <li><button type="button" class="btn btn-default navbar-btn" >Queue</button></li>
             <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='#/selftest'">Self Test</button></li>
             <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='#/login'">Logout</button></li>
        </ul>
        </div> 
      </div>
      <div class="container">
          <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                    <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Video Format <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HD Profile</a></li>
                          <li><a href="#">SD Profile-1</a></li>
                          <li><a href="#">SD Profile-2</a></li>
                        </ul>
                      </div><!-- /btn-group -->             
                    <input type="text" class="form-control">
                </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
            <div class="row">
               <div class="col-lg-6">
                    <div class="input-group">Bit Rate :
                        <input type="text" class="form-control"> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                    <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Resolution <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">1280x720</a></li>
                          <li><a href="#">720x480</a></li>
                          <li><a href="#">404x224</a></li>
                        </ul>
                      </div><!-- /btn-group -->             
                    <input type="text" class="form-control">
                </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
            <button type="button" class="btn btn-primary active navbar-btn" >Submit</button>
     </div>
</div>
